*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80px 1fr 120px;
    background-color: #fcf9e8;
}



/* TOPO (LOGO E MENU) */

header{
    width: 100%;
    height: 100%;
    display: flex;
}

.container_cima{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementos{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    word-spacing: 25px;
    left: 500px;
}

.titulo{
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-size: 1.0rem;
    color: #EB5638;
}

/*      */



/* FOTO E TITULO */

main{
   width: 100%;
   height: 100%;
}

.container_principal{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.elementos_princ{
    width: 100%;
}

.elementos_princ img{
    border-radius: 91px;
    width: 800px;
    height: 450px;
}

.fonte{
    line-height: 0rem;
    z-index: 10;
    position: absolute;
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    color: #FFFFFF;
    text-shadow: 0.12em 0.1em 0em #EB5638;
    -webkit-text-stroke: 2px #EB5638;
}

/*      */



/* BOTÃO */

footer{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container_baixo{
    justify-content: center;
    align-items: center;
}

.botao{
    width: 246px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #EB5638;
    box-shadow: 7px 7px 0px #EB5638;
}

p{
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 24px;
    color: #EB5638;
}

/*      */
